<div class="main-box">
    
    <div class="upper-footer">
        <div class="container1">
            
            <ul class="first-row lists">
                <li>Careers </li>
                <li>Teach On Learniverse</li>
                <li>Contact Us</li>
                <li>Help & Support</li>
                <li>About Us</li>
            </ul>
            <ul>
                <li>Terms</li>
                <li>Privacy policy</li>
                <li>Cookie settings</li>
                <li>Sitemap</li>
                <li>Accesibility statement</li>
            </ul>
        
        </div>

        <div class="container2">
            <img src="../../assets/photos/icons8-facebook.svg" />
            <img src="../../assets/photos/Twitter X.svg"/>
            <img src="../../assets/photos/icons8-youtube.svg" />
        </div>

    </div>

    <div class="lower-footer">
        <div class="image-box">
            <img src="./../../assets/photos/logo-no-background.png" class="image123" routerLink="/"/>
        </div>
    
        <div class="text12312">
            <p>&copy; 2023 Learniverse, inc.</p>
        </div>
    </div>   

</div>