<section class="home-container">
    <header class="home-head">
        <label class="copywriteTxt">
            <h1>Learniverse:</h1>   
            Your Gateway to Infinite<br>
             Knowledge
        </label><br>
        <button class="enrollToday" routerLink="/sign-up">
            Enroll Today
        </button><br>
        <span style="font-size: 22px; color: blueviolet;">And empower your future</span>
    </header>
    <article class="home-mid">
        <div class="l-section">
            <div class="courses-cwt">
                <p>
                    Unlock your limitless potential and embark on a journey of knowledge and growth with our courses. The path to success begins with the first step
                </p>
                <button class="get-to-courses" routerLink="/courses">
                    Get to Courses
                </button>
            </div>
        </div>
        
        <div class="r-section">
            
            <div class="img-grid">
                <div class="course1" routerLink="/courses">Courses</div>
                <div class="course2" routerLink="/courses">Courses</div>
                <div class="course3" routerLink="/courses">Courses</div>
                <div class="course4" routerLink="/courses">Courses</div>
                <div class="course5" routerLink="/courses">Courses</div>
            </div>

            <div class="text-container1">
                <p>
                    Within each course lies the transformative power to shape your destiny.
                    Embrace learning as the compass guiding you towards your dreams.
                    In the world of knowledge, your potential knows no bounds, and our courses are the vessels to carry you forward.
                    With every lesson, you build a bridge to a brighter, more accomplished self. The journey may seem daunting, but remember,
                    the climb to the summit always starts with a single step. Take that step today, and let your curiosity,
                    dedication, and ambition be your driving force. Invest in your education, invest in your future,
                    and watch your horizons expand beyond imagination.
                </p>
            </div>
        </div>

    </article>

    <article class="home-end">

    </article>
</section>